* {
  box-sizing: border-box;
  width: 1024px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #2B7270;
}

p {
    margin-top: 1em;
    margin-bottom: 0.5em; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6B8483;
}

figure {
    float: center;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

.portrait figcaption {
    color: #A53E40;
}

blockquote {
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Roboto', sans-serif;
    border: thick solid indianred;
    border-radius: 1em;
    box-shadow: #061b33 0.5em 0.5em 0.3em;
}

blockquote p {
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Roboto', sans-serif;
    color: #84b0af;   
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6B8483;
}