* {
  box-sizing: content-box;
  width: 1024px;
  align-items: center;
  justify-content: center;
}

figure {
    float: center;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

blockquote {
    border: thick solid red;
    border-radius: 1em;
    box-shadow: black 0.5em 0.5em 0.3em;
}

